mlinspect[dev] @ git+https://github.com/stefan-grafberger/mlinspect.git@4e36eadd1f297ecc69ada744968aa9f8a9f6355c
importnb==0.6.2
matplotlib==3.4.2
mlflow==1.23.1
numba==0.53
# This is problematic on MacOS
# icc-rt==2020.0.133
pyyaml==5.4.1
pyarrow==10.0.0
ipycytoscape==1.3.3
networkx==2.5
#!jupyter nbextension enable --py --user ipycytoscape